.mainchart-wrapper {
    display: flex;
    flex-direction: column;
}

.title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}

.inputContainer {
    width: 100%;
    max-width: 300px;
    margin: 40px auto 0;
}

.input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.input::placeholder {
    color: #999;
}

.input:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}

.focused {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}

.hasValue {
    background-color: #ebf5ff;
}
